body{
    background-color: black;
}

#my-calc{
    text-align: center;
    width: 360px;
    margin: 68px auto;
}

input[type='button'], button {
    width: 86px;
    height: 50px;
    margin: 2px 0;
}

.results input {
    width: 75px;
    height: 50px;
    border-color: beige
}

#equal {
    background-color: #fd7202;
    color:white;
    border: 1px solid #fd7202;
    width:155px;
}

#clear {
    background-color: red;
    width:155px;
    color:white;
    border: 1px solid red;
}

#plus ,#minus ,#by ,#divide ,#percent {
    background-color: green;
    color:white;
    border: 1px solid green;
    font-size : 16px;
}

input[type='text'] {
    width:86%;
    height:50px;
    margin:10px;
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    font-style: normal;
    padding: 4px;
    border-radius:25px;
    border-color: black; 
}

.results input:hover{
    background-color: turquoise;
}